@import url(http://fonts.googleapis.com/css?family=Sigmar+One);

html{
	height: 100%;
	width: 100%;
}

body header{
	text-align: center;
	background-color: black;
	margin-bottom: 0;
}

body{
	margin:0;
	
}

.title{
	font-family: 'Sigmar One', cursive;
	text-align: left;
	font-size: 30px;
	padding-left: 400px;
	color: #33cc33;
}

a{
	color: #33cc33;
}

a:hover{
	color: #006600;
}

.details{
	text-align: center;
	font-size: 20px;
	padding-right: 40%;
	padding-left: 100px;
	background-image: url(../avengers/hulk.jpeg);
	background-position: 80% center;
	background-repeat: no-repeat;
	background-size: 60%;
}

audio{
	float: right;
}
